{
  "controllers": [
    {
      "hostname": "192.168.178.24",
      "pollingInterval": 0.2,
      "plants": [
        {
          "sensors": [
            {
              "number": 0,
              "threshold": 1500,
              "thresholdMode": "floor",
              "medianWindow": 3,
              "meanWindow": 10
            },
            {
              "number": 1,
              "threshold": 1500,
              "thresholdMode": "floor",
              "medianWindow": 3,
              "meanWindow": 10
            }
          ],
          "sensorMode": "all",
          "pumps": [
            {
              "number": 0,
              "duration": 5
            }
          ],
          "pumpMode": "all",
          "pumpWaitMin": 7,
          "pumpWaitMax": 259200
        }
      ]
    }
  ]
}